@import '../style/settings/colors';
@import '../style/settings/fonts';


.aboutus{
    width: 100%;
    height: 100vh;
    background-color: $color-light-gray;
    font-family: $font-base;
    display: flex;
    overflow: hidden;
    .aboutusText{
        margin-top: 186px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 958px;
        .aboutusTitle{
            font-size: 38px;
        }
        .decor{
            margin: 26px 0 55px 0;
        }
        .aboutusDesc{
            text-align: center;
            width: 450px;
        }
        .signature{
            align-self: flex-end;
            margin: 30px 40px 0 0;
        }
    }
    .aboutusImg{
        width: 942px;

    }
}