/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin-right: 142px;
  display: flex;
}
.container .homeImg {
  height: 963px;
  width: 963px;
  background-image: url("../../assets/assets/Home-Hero-Image.jpg");
  background-position: -28rem -2rem;
  background-size: cover;
}
.container .homeRight {
  width: 873px;
  height: 963px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .siteTitle {
  width: 674px;
  height: 250px;
  margin: 200px 0 65px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #3C3C3C;
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.container .siteTitle .decoration {
  margin-top: 15px;
}
.container .siteTitle .senditems {
  width: 674px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.container .siteTitle .senditems .btn {
  background: none;
  font-size: 24px;
  width: 250px;
  height: 120px;
  font-family: "Open Sans", sans-serif;
}
.container .siteTitle .senditems .btn:hover {
  cursor: pointer;
}

.stats {
  background-color: #FAD648;
  position: relative;
  top: -2rem;
}
.stats .boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 46px 0 86px 0;
}
.stats .boxes .box {
  width: 342px;
  text-align: center;
  color: #3C3C3C;
  font-family: "Open Sans", sans-serif;
}
.stats .boxes .box .boxTop {
  font-size: 90px;
}
.stats .boxes .box .boxMid {
  font-size: 18px;
  margin: 16px 0 20px 0;
  letter-spacing: -0.36px;
}
.stats .boxes .box .boxBot {
  font-family: "Merriweather", serif;
  letter-spacing: -0.36px;
}

.steps {
  height: 624px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 38px;
  font-family: "Open Sans", sans-serif;
}
.steps .decor {
  margin: 15px 0 15px 0;
}
.steps .stepsBoxes {
  background-color: #F0F1F1;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 352px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.steps .stepsBoxes .stepBox {
  width: 130px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps .stepsBoxes .stepBox:first-child .stepTop {
  background-image: url("../../assets/assets/Icon-1.svg");
  width: 83px;
  height: 83px;
}
.steps .stepsBoxes .stepBox:nth-child(2) .stepTop {
  background-image: url("../../assets/assets/Icon-2.svg");
  width: 83px;
  height: 83px;
}
.steps .stepsBoxes .stepBox:nth-child(3) .stepTop {
  background-image: url("../../assets/assets/Icon-3.svg");
  width: 83px;
  height: 83px;
}
.steps .stepsBoxes .stepBox:last-child .stepTop {
  background-image: url("../../assets/assets/Icon-4.svg");
  width: 83px;
  height: 83px;
}
.steps .stepsBoxes .stepBox .stepMid {
  margin: 8px 0 6px 0;
  font-size: 16px;
}
.steps .stepsBoxes .stepBox .stepBot {
  font-size: 14px;
}
.steps .btn {
  margin: 35px 0 35px 0;
  background: none;
  font-size: 24px;
  padding: 45px 45px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
.steps .btn:hover {
  cursor: pointer;
}

.aboutus {
  width: 100%;
  height: 100vh;
  background-color: #F0F1F1;
  font-family: "Open Sans", sans-serif;
  display: flex;
  overflow: hidden;
}
.aboutus .aboutusText {
  margin-top: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 958px;
}
.aboutus .aboutusText .aboutusTitle {
  font-size: 38px;
}
.aboutus .aboutusText .decor {
  margin: 26px 0 55px 0;
}
.aboutus .aboutusText .aboutusDesc {
  text-align: center;
  width: 450px;
}
.aboutus .aboutusText .signature {
  align-self: flex-end;
  margin: 30px 40px 0 0;
}
.aboutus .aboutusImg {
  width: 942px;
}

.helpContainer {
  width: 1200px;
  height: 740px;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-family: "Merriweather", serif;
}
.helpContainer img {
  width: 253px;
  height: 33px;
  align-self: center;
  margin-top: 25px;
}
.helpContainer .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpContainer .buttons .button {
  background-color: transparent;
  font-size: 24px;
  border: none;
  width: 200px;
  margin: 0 50px;
  cursor: pointer;
  padding: 15px;
}
.helpContainer .buttons .active {
  border: 1px solid black;
}
.helpContainer .headers {
  margin-top: 40px;
  width: 640px;
  height: 94px;
  font-size: 22px;
  text-align: center;
  align-self: center;
}
.helpContainer .lists {
  margin-top: 70px;
}
.helpContainer .lists .listsElements {
  width: auto;
  height: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.helpContainer .lists .listsElements .element {
  font-size: 16px;
  text-align: start;
}
.helpContainer .lists .listsElements .title {
  align-self: flex-end;
}
.helpContainer .lists .listsElements .text {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
}
.helpContainer .lists .listsElements .par {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: end;
  align-self: flex-start;
}
.helpContainer .paginBtn {
  background-color: transparent;
  margin: 20px 10px;
  width: 40px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}

.contactContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}
.contactContainer .contactImg {
  background-image: url("../../assets/assets/Background-Contact-Form.jpg");
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  position: relative;
  z-index: -2;
  left: -5%;
}
.contactContainer .contactRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactContainer .contactRight .text {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 38px;
}
.contactContainer .contactRight .text .decor {
  width: 253px;
  height: 33px;
  margin: 15px 0 15px 0;
}
.contactContainer .contactRight .submitSuccess {
  color: green;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
.contactContainer .contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 500px;
}
.contactContainer .contactForm .fcbIcon {
  width: 30px;
  height: 30px;
  position: relative;
  right: 60px;
  top: 93px;
}
.contactContainer .contactForm .igIcon {
  width: 30px;
  height: 30px;
  position: relative;
  right: 15px;
  top: 60px;
}
.contactContainer .contactForm .form {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(10, 30px);
  -moz-column-gap: 14px;
       column-gap: 14px;
  row-gap: 10px;
}
.contactContainer .contactForm .nameLabel {
  grid-column: 1/2;
  grid-row: 1/2;
}
.contactContainer .contactForm .name {
  grid-column: 1/2;
  grid-row: 2/3;
}
.contactContainer .contactForm .nameError {
  grid-column: 1/2;
  grid-row: 3/4;
}
.contactContainer .contactForm .emailLabel {
  grid-column: 2/3;
  grid-row: 1/3;
}
.contactContainer .contactForm .email {
  grid-column: 2/3;
  grid-row: 2/3;
}
.contactContainer .contactForm .emailError {
  grid-column: 2/3;
  grid-row: 3/4;
}
.contactContainer .contactForm .messageLabel {
  margin-top: 9px;
  grid-column: 1/3;
  grid-row: 4/5;
}
.contactContainer .contactForm .message {
  grid-column: 1/3;
  grid-row: 4/5;
}
.contactContainer .contactForm .textarea {
  grid-row: 5/6;
  grid-column: 1/3;
}
.contactContainer .contactForm .messageError {
  grid-row: 8/9;
  grid-column: 1/3;
}
.contactContainer .contactForm .labels {
  font-size: 16px;
  font-weight: 600;
}
.contactContainer .contactForm .inputs,
.contactContainer .contactForm .textarea {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  resize: none;
  overflow: hidden;
  height: 25px;
}
.contactContainer .contactForm .textarea {
  height: 100px;
}
.contactContainer .contactForm .submitContact {
  border: 0.75px solid black;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin-top: 40px;
  grid-row: 5/6;
  grid-column: 2/3;
  position: relative;
  top: 100px;
}
.contactContainer .contactForm .submitContact:hover {
  cursor: pointer;
}
.contactContainer .contactForm .error {
  font-size: 12px;
  color: red;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3C3C3C;
  font-family: "Open Sans", sans-serif;
}
.login .title {
  font-size: 40px;
}
.login img {
  margin: 25px 0 60px 0;
}
.login .form_bacground {
  background-color: #F0F1F1;
  width: 385px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .forms {
  width: 250px;
  height: 62px;
  display: flex;
  flex-direction: column;
}
.login .forms input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  cursor: pointer;
}

.register {
  text-decoration: none;
  color: black;
}

.buttons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttons .bottom_btn {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.buttons .bottom_btn .link {
  text-decoration: none;
  color: black;
}
.buttons .logme {
  border: 1px solid gold;
}

.formError {
  color: red;
  font-size: 12px;
  padding-top: 15px;
  position: relative;
  top: -12px;
}

.register {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .registerTitle {
  font-size: 40px;
}
.register img {
  margin: 25px 0 60px 0;
  width: 253px;
  height: 33px;
}
.register .registerForm {
  height: 328px;
  display: flex;
  flex-direction: column;
}
.register .registerForm .regContainer {
  background-color: #F0F1F1;
  width: 334px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .registerForm .regContainer .regContent {
  width: 240px;
  align-self: center;
  padding: 30px 25px;
  font-size: 18px;
}
.register .registerForm .regContainer .regContent input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}
.register .registerForm .regError {
  color: red;
  font-size: 14px;
  position: relative;
  top: -24px;
}
.register .regBtns {
  position: relative;
  top: 30px;
  width: 420px;
  display: flex;
  justify-content: space-between;
}
.register .regBtns .regBtn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 12px 8px;
}
.register .regBtns .log {
  text-decoration: none;
  color: black;
}
.register .regBtns .btnRegister {
  border: 1px solid black;
}

.goHome {
  text-decoration: none;
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  padding: 15px 10px;
}

.title {
  width: 600px;
  text-align: center;
}

.stuffContainer .topContainer {
  width: 100%;
  margin: auto;
  display: flex;
  font-family: "Open Sans", sans-serif;
}
.stuffContainer .topContainer .leftSide {
  width: 1015px;
  height: 853px;
  background-image: url("../../assets/assets/Form-Hero-Image.jpg");
}
.stuffContainer .topContainer .rightSide {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stuffContainer .topContainer .rightSide .title {
  font-size: 38px;
}
.stuffContainer .topContainer .rightSide .decor {
  margin: 25px 0 20px 0;
}
.stuffContainer .topContainer .rightSide .subTitle {
  font-size: 40px;
  margin-bottom: 25px;
}
.stuffContainer .topContainer .rightSide .squares {
  display: flex;
  align-items: center;
  align-content: center;
}
.stuffContainer .topContainer .rightSide .squares .square {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
}
.stuffContainer .topContainer .rightSide .squares .square::before {
  content: "";
  position: absolute;
  border: 1px solid black;
  rotate: 45deg;
  width: 140px;
  height: 140px;
  z-index: 1;
}
.stuffContainer .topContainer .rightSide .squares .square .number {
  font-size: 32px;
  position: relative;
  top: -55px;
}
.stuffContainer .topContainer .rightSide .squares .square .descr {
  width: 100px;
  text-align: center;
  position: relative;
  top: -20px;
}
.stuffContainer .pageWarn {
  height: 179px;
  background-color: #FAD648;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  font-family: "Open Sans", sans-serif;
}
.stuffContainer .pageWarn .waningTitle {
  font-size: 36px;
  font-weight: 600;
}
.stuffContainer .pageWarn .waningP {
  font-size: 22px;
}

.radioInputs {
  display: flex;
  flex-direction: column;
}
.radioInputs .radioLabel {
  position: relative;
  padding: 15px 30px;
  bottom: 15px;
}
.radioInputs .radioLabel input {
  display: none;
}
.radioInputs .radioLabel input:checked ~ span:after {
  background-color: #FAD648;
}
.radioInputs .radioLabel span {
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  left: 0px;
  top: 12px;
}
.radioInputs .radioLabel span::after {
  content: "";
  height: 20px;
  width: 20px;
  display: block;
}

.pickUpAdressContainer {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.pickUpAdressContainer .leftContainer {
  display: flex;
  flex-direction: column;
}
.pickUpAdressContainer .rightContainer {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin: 15px 0 5px 0;
}

input,
textarea {
  background-color: transparent;
  outline: none;
  resize: none;
}

textarea {
  height: 90px;
}

.howManyBagsContainer {
  height: 130px;
}

.donateSummaryContainer .donate {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.donateSummaryContainer .summary,
.donateSummaryContainer .summaryLocalization {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.donateSummaryContainer .summary img,
.donateSummaryContainer .summaryLocalization img {
  height: 40px;
  margin-right: 15px;
}
.donateSummaryContainer .summaryAdress {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.donateSummaryContainer .summaryAdress .pickUpAdress,
.donateSummaryContainer .summaryAdress .summaryPickUpDate {
  line-height: 30px;
}

.localizationDropdown {
  background-color: transparent;
  margin-bottom: 30px;
}

.whoToHelp .whoToHelpTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.whoToHelp .inputsContainer {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 400px;
}
.whoToHelp .inputsContainer .localInput {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}
.whoToHelp .inputsContainer .localInput input {
  display: none;
}
.whoToHelp .inputsContainer .localInput input[type=radio]:checked + .localInput {
  background-color: orange;
}
.whoToHelp .inputsContainer .optionalFundName {
  margin: 15px 0 15px 0;
}
.whoToHelp .inputsContainer .optionalFundName .optionalFundNameTitle {
  font-size: 18px;
  font-weight: 500;
}

.form {
  font-family: "Open Sans", sans-serif;
  background-color: #F0F1F1;
  padding: 35px 142px;
}
.form .progress {
  font-size: 24px;
  margin-bottom: 70px;
}
.form .formContainer .header {
  font-size: 36px;
  font-weight: 600;
}
.form .formContainer .body {
  margin: 40px 0 14px 0;
}
.form .donateBtn {
  position: relative;
  cursor: pointer;
  border: 0.75px solid #3C3C3C;
  padding: 23px 63px;
  margin-right: 58px;
}

.navigation {
  font-family: "Open Sans", sans-serif;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 32px 142px 0 0;
  position: absolute;
  z-index: 99;
  right: 5px;
}
.navigation .account_items .account_item {
  font-size: 14px;
  text-decoration: none;
  padding: 9px 10px;
  color: #737373;
}
.navigation .account_items .create {
  border: 1px solid #FAD648;
}
.navigation .nav_btns {
  width: 623px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.navigation .nav_btns .nav_btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.navigation .nav_btns .nav_btn:hover {
  border-bottom: 2px solid #FAD648;
}
.navigation .userTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .userTop .userEmail {
  margin-right: 15px;
}
.navigation .userTop .giveStuffBtn {
  background-color: transparent;
  border: 1px solid #FAD648;
  padding: 10px 8px;
  cursor: pointer;
  text-decoration: none;
  color: #3C3C3C;
}
.navigation .userTop .logoutBtn {
  background-color: transparent;
  border: none;
  padding: 10px 8px;
  cursor: pointer;
  text-decoration: none;
  color: #3C3C3C;
}/*# sourceMappingURL=App.css.map */