@import "./reset/_reset.scss";
@import "../home/home";
@import "../stats/stats";
@import "../steps/steps";
@import "../aboutus/_aboutus.scss";
@import "../help/_help.scss";
@import "../contact/contact";
@import "../login/login";
@import "../register/register";
@import "../logout/logout";
@import "../oddaj-rzeczy/oddaj";
@import "../oddaj-rzeczy/multipageForm/multipageForm";
.navigation{
    font-family: $font-base;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 32px 142px 0 0 ;
    position: absolute;
    z-index: 99;
    right: 5px;
    .account_items{
        .account_item{
            font-size: 14px;
            text-decoration: none;
            padding: 9px 10px;
            color: $text-gray;
        }
        .create{
            border: 1px solid $color-gold;
        }
    }
    .nav_btns{
        width: 623px;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        .nav_btn{
            // margin-top: 25px;
            background-color: transparent;
            border: none;
            font-size: 18px;
            cursor: pointer;
            &:hover{
                border-bottom: 2px solid $color-gold;
            }
        }
    } 
    .userTop{
        display: flex;
        justify-content: center;
        align-items: center;
        .userEmail{
            // position: relative;
            // right: 15px;
            margin-right: 15px;
        }
        .giveStuffBtn{
            background-color: transparent;
            border: 1px solid $color-gold;
            padding: 10px 8px;
            cursor: pointer;
            text-decoration: none;
            color: $text-black;
        }
        .logoutBtn{
            background-color: transparent;
            border: none;
            padding: 10px 8px;
            cursor: pointer;
            text-decoration: none;
            color: $text-black;
        }
    }
}