@import '../style/settings/fonts';
@import '../style/settings/colors';
.container{
    margin-right: 142px;
    display: flex;
    .homeImg{
        height: 963px;
        width: 963px;
        background-image: url('../../assets/assets/Home-Hero-Image.jpg');
        background-position: -28rem -2rem;
        background-size: cover;
    }
    .homeRight{
        width: 873px;
        height: 963px;    
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .siteTitle{
            width: 674px;
            height: 250px;
            margin: 200px 0 65px 0;
            font-family: $font-base;
            font-size: 36px;
            text-align: center;
            color: $text-black;
            display: flex;
            flex-direction: column;
            padding: 3px;
            .decoration{
                margin-top: 15px;
            }
            .senditems{
                width: 674px;
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                .btn{
                    background: none;
                    font-size: 24px;
                    width: 250px;
                    height: 120px;
                    font-family: $font-base;
                    &:hover{
                        cursor: pointer;
                    }
                }
        }
    }
}
