.register{
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .registerTitle{
        font-size: 40px;
    }
    img{
        margin: 25px 0 60px 0;
        width: 253px;
        height: 33px;
    }
    .registerForm{
        // width: 384px;
        height: 328px;
        display: flex;
        flex-direction: column;
        
        .regContainer{
            background-color: $color-light-gray;
            width: 334px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .regContent{
                width: 240px;
                align-self: center;
                padding: 30px 25px;
                font-size: 18px;
                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid black;
                    font-size: 18px;
                }
            }
            
        }
        .regError{
            color: red;
            font-size: 14px;
            position: relative;
            top: -24px;
        }
    }
        .regBtns{
            position: relative;
            top: 30px;
            width: 420px;
            display: flex;
            justify-content: space-between;
            .regBtn{
                background-color: transparent;
                border: none;
                font-size: 18px;
                padding: 12px 8px;
                
            }
            .log{
                text-decoration: none;
                color: black;
            }
            .btnRegister{
                border: 1px solid black;
            }
        }
}
       
    
